@media (max-width:1080px){
    .tableContainer{
        max-height: 40vh;
    }
    .button_icon:hover{
        opacity: 100%;
    }
    .left_side_button:hover{
        background-color: #FF7A73;
    }
    .addEvent:hover{
        background-color: aquamarine;
    }
    body {
        font-size: medium;
    }
}
@media(orientation:landscape){
    .tableContainer{
        max-height: 30vh;
    }
}