header {
    background-color: #A61000;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    min-height: 5%;
    width:100vw;
    margin:0;
}

body {
    height: 100vh;
    width: 100vw;
    font-size: larger;
    cursor: default;
    background-color: #259433;
    box-sizing: border-box;
    margin: 0;
}
h4 {
    margin:5px;
}
.left_side_button {
    background-color: #BF3D30;
    min-width: 5%;
    margin-right:auto;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left_side_button:hover {
    background-color: #FF7A73;
}

.header_title {
    text-align: center;
    flex-grow: 1;
}

.dateRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.emptyButton {
    background: none;
    border: none;
}

.button_icon {
    min-width: 5vw;
    min-height: 5vh;
    transition: opacity 0.3s;
    cursor: pointer;
}

.button_icon:hover {
    opacity: 50%;
}
.tableContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-height: 60vh;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 20px;
}
.eventsTable {
    width: 100vw;
    background-color: #FFE040;
    border-collapse: collapse;
}

.eventsTable th, td {
    border: 1px solid black;
    max-width: 5%;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    overflow:auto;
}
.eventsTable th {
    top: 0;
    position: sticky;
    background-color: #A68B00;
}

.centeredElement {
    text-align: center;
    flex-grow: 1;
}

.addEvent {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    transition: background-color 0.3s;
    min-height: 5vh;
    min-width: 6vw;
    background-color: #6D48D7;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.addEvent:hover {
    background-color: #8A6ED7;
}
textarea {
    background-color: #FFE873;
    width: 100vw;
    height: 60%;
    padding: 4px;
    margin:0;
}
